body {
    font-family:Arial, Helvetica, sans-serif;background-color:#add8e6;
}
h1 {
    color: #ffffff;background-color:#2f4f4f;
}
h2 {
   background-color: #ffffff ;
}
p {
   margin: 1.5rem;
}
img {
    float: right;
    border: 2px #ffffff solid;
    margin: .65rem;
    max-width: 100%;
    }