.wrapper {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 150px 400px 100px;
    grid-template-columns: 2fr 5fr 2fr;
}
header {
    background-color: azure;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.emptyspaceleft {
    background-color: blanchedalmond;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
main {
    background-color: cornsilk;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
.emptyspaceright {
    background-color: blanchedalmond;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
footer {
    background-color: lightgray;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}