.wrapper {
    border: 3px solid black; 
    display: grid;
    grid-template-rows: 150px min-content min-content 1fr;
    grid-template-columns: 2fr 5fr 2fr;
    min-height: 100vh;
}
header {
    background-color: azure;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.emptyspaceleft {
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
main {
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 2rem;
}
.emptyspaceright {
    background-color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
footer {
    background-color: lightgray;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    /* text-align: center; */
    display:grid;
    align-content: center;
    justify-content: center;
    padding: 2rem;
}
h1 {
    text-align: center;
}
body {
    margin: 0;
    background-color: lightgray;
}
address {
    font-style: normal;
}