body {
    font-family:Arial, Helvetica, sans-serif;background-color:#add8e6;
}
h1 {
    color: #ffffff;
    background-color:#2f4f4f;
    padding: 1.3rem;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
h2 {
   background-color: #ffffff ;
}
p {
   padding-left: 1.3rem;
   padding-right: 1.3rem;
   line-height: 1.5rem;
   font-family: 'Courier New', Courier, monospace;
}
img {
    float: right;
    border: 2px #ffffff solid;
    margin: .65rem;
    max-width: 100%;
    }
    
a:link {
    color: black; 
    text-decoration: none;} 
a:visited {color:white;}
a:hover { color:blue;
text-decoration: underline;}
a:active {color:red;}

    